@import './base.css';

@font-face {
  font-family: "Roboto Mono Regular";
  src: url("./fonts/RobotoMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Roboto Mono Regular", Roboto, system-ui;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.v-application__wrap, body{
  min-height: 100% !important;
}
